@model MedicalAppointment.Web.Models.UsersModels.UserModel

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @* @Html.DisplayNameFor(model => model.UserId) *@
            Usuario Id
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @* @Html.DisplayNameFor(model => model.FirstName) *@
            Nombres
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @* @Html.DisplayNameFor(model => model.LastName) *@
            Apellidos
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @* @Html.DisplayNameFor(model => model.Email) *@
            Correo electronico
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @* @Html.DisplayNameFor(model => model.RoleID) *@
            Rol Id
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoleID)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-warning text-white" asp-action="Edit" asp-route-id="@Model.UserId">Actualizar</a> |
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</div>
