@model IEnumerable<MedicalAppointment.Web.Models.MedicalModels.SpecialtiesModel>

@{
    ViewData["Title"] = "Especialidades";
}

<h1>Especialidades</h1>

<p>
    <a asp-action="Create">Agregar especialidad</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @* @Html.DisplayNameFor(model => model.SpecialtyId) *@
                Identificador
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.SpecialtyName) *@
                Especialidad
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.specialtyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.specialtyName)
            </td>
            <td>
                    <a class="btn btn-warning text-white" asp-action="Edit" asp-route-id="@item.specialtyId">Actualizar</a> |
                    <a class="btn btn-primary text-white" asp-action="Details" asp-route-id="@item.specialtyId">Ver detalles</a> |
                    <button id="showModal" type="button" class="btn btn-danger deleteBtn" data-bs-toggle="modal" data-bs-target="#DeleteModal-@item.specialtyId">
                        Eliminar
                    </button>

                    @await Html.PartialAsync("_deleteModalPartialView", new ViewDataDictionary(ViewData)
                    {
                        {"Id", item.specialtyId},
                        {"Entity", "Especialidad"}
                    })
            </td>
        </tr>
}
    </tbody>
</table>
