@model IEnumerable<MedicalAppointment.Web.Models.SystemModels.RoleModel>

@{
    ViewData["Title"] = "Roles";
}

<h1>Gestion de roles</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Agregar rol nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @* @Html.DisplayNameFor(model => model.roleId) *@
                Identificador
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.roleName) *@
                Rol
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.roleId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.roleName)
            </td>
            <td>
                    <a class="btn btn-warning text-white" asp-action="Edit" asp-route-id="@item.roleId">Actualizar</a> |
                    <a class="btn btn-primary text-white" asp-action="Details" asp-route-id="@item.roleId">Ver detalles</a> |
                    <button id="showModal" type="button" class="btn btn-danger deleteBtn" data-bs-toggle="modal" data-bs-target="#DeleteModal-@item.roleId">
                        Eliminar
                    </button>
                    @await Html.PartialAsync("_deleteModalPartialView", new ViewDataDictionary(ViewData) 
                    {
                        {"Id", item.roleId},
                        {"Entity", "Rol"}
                    })
            </td>
        </tr>
}
    </tbody>
</table>